.top{
    background-color:#3e9292;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
}
.left{background-color: rgb(255, 0, 2055);
    flex: 1;
   

}
.right{background-color:rgb(100, 108, 155) ;
    flex: 8;
    display: flex;
    flex-direction: column;

}
.main{
    display: flex;
    height: 95vh;
}
.top1{
    background-color: rgb(5, 77, 5);
    color: white;
    padding: 20px;
}
.Videos{
    flex: 20;
    text-align: center;
    
}
.filter{
    background-color: gray;
    flex: 1;
    text-align: center;
    

}
.videocss{
    background-color: azure;

}
.box{
    background-color: red;
    margin: 5px;

}